<div class="wallpaper">
    <div class="opacityLayer">
    </div>
    <div class="problemStatementIcon">
      <img src="../../../../assets/product_development/problem_statement/problem statement.png">
    </div>
    <div class="title"> 
        <h1>Agile Development</h1>
    </div>
  </div>
<div class="problem">
  <p>In this course learn what a problem statement is, how to help your team break down there problem in order to find the root
    of the problem. Learn how to ask your team the right questions in order to make sure they have a solid problem statement.</p>
    <p>Presentation Link: <a href='#'>https://docs.google.com/presentation</a></p>
</div>