<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="creed">
        <div class="header">
          <h1>Our Leadership Creed</h1>
        </div>
        <div class="body">
          <div class="block">
            <p>I shall lead by example.</p>
            <p>I will bring honor to the brotherhood.</p>
            <p>I will think outside the box.</p>
            <p>I believe in helping my neighbor and community.</p>
            <p>I believe leadership is action not position.</p>
          </div>
          <div class="block">
            <p>I will be a role model to other young males in my community.</p>
            <p>I believe nothing is hard just a lot of work.</p>
            <p>I will strive to know myself and seek self improvement.</p>
            <p>I believe in the habit of doing more than asked for.</p>
            <p>I will strive to strengthen my mind body and soul.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="leadership">
        <div class="wallpaper">
            <div class="opacityLayer">
              </div>
          <div class="img">
            <img src="../../../assets/txt_culture/Leadership (4).png">
          </div>
          <div class="title"> 
              <h1>Leadership</h1>
          </div>
          <div class="subtitle">
            <h1>I shall lead by example</h1>
          </div>
        </div>
          
        <div class="content">
          <p>At SCLA we teach our kids how to become top notch innnovaters. You will make connections with tech professionals that can become your mentors and help you become successful in the tech world.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="academics">
          <div class="wallpaper2">
              <div class="opacityLayer">
                </div>
            <div class="img">
              <img src="../../../assets/txt_culture/Icons-07-512.png">
            </div>
            <div class="title"> 
                <h1>Academics</h1>
            </div>
            <div class="subtitle">
              <h1>I believe in the habit of doing 
                  more than asked for.</h1>
            </div>
          </div>
        <div class="content">
          <p>  At SCLA, your kids will learn to code using HTML, CSS, and JavaScript. You are in charge of guiding them to building your own startup tech business.  You will use your strengths to become the best version of yourself. Have them understand that success is not hard, just a lot of work.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="community">
          <div class="wallpaper3">
              <div class="opacityLayer">
                </div>
            <div class="img">
              <img src="../../../assets/txt_culture/community.png">
            </div>
            <div class="title"> 
                <h1>Community</h1>
            </div>
            <div class="subtitle">
              <h1>  I will be a role model to other
                  young males in my community.</h1>
            </div>
          </div>
        <div class="content">
          <p>During 12 weeks, the students become part of a brotherhood of leaders, a brotherhood that inspires them to give it their all. As brothers they help each
              other code, solve problems, and succeed in life.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
        <div class="technology">
            <div class="wallpaper4">
                <div class="opacityLayer">
                  </div>
              <div class="img">
                <img src="../../../assets/txt_culture/laptop.png">
              </div>
              <div class="title"> 
                  <h1>Technology</h1>
              </div>
              <div class="subtitle">
                <h1>  I believe nothing is hard just a lot of work</h1>
              </div>
            </div>
          <div class="content">
            <p>Our lil’s become the best developers. Learning high level programming lanaguages such as Python, Ionic, and Javascript. We also encourgae the Lil’s to learn the whole meanstack as well, which include MongoDB, Express,Angular 6, and Node.
              </p>
          </div>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>