<div class="wallpaper">
    <div class="opacityLayer">
    </div>
    <div class="designThinkingIcon">
      <img src="../../../../assets/product_development/design_thinking/designthinking2.jpg.png">
    </div>
    <div class="title"> 
        <h1>Design Thinking</h1>
    </div>
  </div>
<div class="thinking">
  <p>Design Thinking is an iterative process in which we seek to understand the user, challenge assumptions, and redefine problems
    in an attempt to identify alternative strategies and solutions that might not be instantly apparent with our initial
    level of understanding.</p>
    <p>Presentation Link: <a href='#'>https://docs.google.com/presentation</a></p>
</div>