.wallpaper {
    text-align: center;
    color: white;
    background-color: #000000;
    background-image: url('../../../../assets/product_development/design_thinking/lils5.jpg');
    background-size: 100%;
    height: 600px;
}

.title{
    background-color: #48b3c8;
    border-radius: 15px;
    width: 20%;
    position: relative;
    left: 570px;
    top: -300px;
    
    
}
.thinking {
    text-align: center;
    padding: 2%;
    color: #48b3c8;
}
h1{
    font-size: 30px;
    font-weight: 300;
}
.opacityLayer{
    height: 600px;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}
.designThinkingIcon{
    position: relative;
    left: -10px;
    top: -300px;
}
p{
    font-size: 28px;
    font-weight: 200;
}